<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forest Fire Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
</head>
<body>
<header>
    <a href="#" class="logo">Bike Count Predictor</a>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>

<section>
    <img src="{{ url_for('static', filename='/stars.png') }}" id="stars">
    <img src="{{ url_for('static', filename='/moon.png') }}" id="moon">
    <h2 id="text">Bike Count Predictor</h2>
    <a href="#sec" id="btn">Explore</a>
    <img src="{{ url_for('static', filename='/mountains_behind.png') }}" id="mountains_behind">
    <img src="{{ url_for('static', filename='/mountains_front.png') }}" id="mountains_front">
</section>

<footer>
<div class="container" id="sec">
    <div class="card">
        <div class="imgBx"  data-text="Logs">
            <img src="static/logs.png" alt="">
        </div>
        <div class="content">
            <div>
                <h3>Logs</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
     <div class="card">
        <div class="imgBx" data-text="Artifact">
            <img src="static/artifact.png" alt="" >
        </div>
        <div class="content">
            <div>
                <h3>Artifact</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
     <div class="card">
        <div class="imgBx" data-text="Trained Model">
            <img src="static/trained_model.png" alt="" >
        </div>
        <div class="content">
            <div>
                <h3>Trained Model</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
     <div class="card">
        <div class="imgBx" data-text="Prediction">
            <img src="static/predictor.png" alt="" >
        </div>
        <div class="content">
            <div>
                <h3>Prediction</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBx" data-text="Train Estimator">
            <img src="static/1.png" alt="" >
        </div>
        <div class="content">
            <div>
                <h3>Train Estimator</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBx" data-text="Update Config">
            <img src="static/update.png" alt="" >
        </div>
        <div class="content">
            <div>
                <h3>Update Config</h3>
                <p>Paper Mario: Color Splash has elements of both action-adventure and role-playing genres. This follows the template established by the previous entry in the series</p>
                <a href="#">Launch</a>
            </div>
        </div>
    </div>
</div>
</footer>
<script>
    let stars = document.getElementById('stars')
    let moon = document.getElementById('moon')
    let mountains_behind = document.getElementById('mountains_behind')
    let mountains_front = document.getElementById('mountains_front')
    let btn = document.getElementById('btn')
    let text = document.getElementById('text')
    let header = document.querySelector('header')

    window.addEventListener('scroll',function(){
        let value = window.scrollY;
        stars.style.left = value * 0.25 + 'px';
        moon.style.top = value * 1.05 + 'px';
        mountains_behind.style.top = value * 0.5 + 'px';
        mountains_front.style.top = value * 0 + 'px';
        text.style.marginRight = value * 4 + 'px';
        text.style.marginTop = value * 1.5 + 'px';
        btn.style.marginTop = value * 1.5 + 'px';
        header.style.top = value * 0.5 + 'px';
    })
</script>
</body>
</html>